body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
button {
    cursor: pointer;
    padding: 8px;
    background-color: #743ad2;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
    background-color: #531ea8;
}